# Скопируйте на ПК робота как robot/.env и подставьте значения с VPS (/root/webrtc-queue/.env)
ROBORUBIKS_URL=https://roborubiks.ru
BROADCASTER_SECRET=
API_SECRET=
TURN_USER=roborubiks
TURN_PASSWORD=
TURN_URLS=turn:roborubiks.ru:3478,turn:130.49.143.78:3478
